body{
	margin:0px;
	background-color:#f1f2f4;
	font-family:arial,serif;
	min-width:691px;
}
a{
	text-decoration:none;
}
p{
	margin:0px;
	padding:0px;
	text-align:center;
}
#wrapper{
	width:1000px;
	margin: auto;
}
header{
	float:left;
	box-shadow: 0 1px 0 #717171;
	position:fixed;
	display: inline-block;
	width:100%;
	height:80px;
	background-color:white;
}
#logo{
	margin-left:30px;
	width:200px;
	height:auto;
	vertical-align: middle;
}
.logo{
	float:left;
	line-height:80px;
	width:200px;
}
ul{
	margin-top:0px;
	margin-right:30px;
	float:right;
}
ul a{
	margin-top:0px;
	float:left;
	list-style:none;
}
ul a li{
	padding-top:7px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:0px;
	float:left;
	margin:0px;
	line-height:63px;
	color:#717171;
	font-size:14px;
	border-bottom: 5px solid white;
	text-align:center;
}
ul a li:hover{
	background-color:#717171;
	color:white;
	box-shadow: 0 5px 0 #5597d0;
}
content{
	display:inline-block;
	float:left;
	position:static;
	min-height:1020px;
	width:100%;
	margin-top:80px;
}
#sl{
	display:inline-block;
	width:100%;
	height:auto;
	background: url("images/1.jpg") ;
	padding-bottom:50px;
}
 .slide{
	 min-width:200px;
	 width:400px;
	 margin:auto;
	 height:auto;
 }
 #slide1{
	 width:500px;
	 height:auto;
	 float:left;
 }
 #sl1{
	 width:30%;
	 height:auto;
	 float:left;
	 margin-top:50px;
	 margin-left:-7%;
 }
 #qwe{
	float:right;
	margin-top:50px;
	width:54%;
	text-align:left;
	color:white;
	font-family:none,serif;
	font-size:30px;
	margin-right:4%;
 }
 #qwee{
	font-family:none,serif;
	font-size:36px;
	margin:0px;
}
#qweee{
	float:left;
	font-family:arial,serif;
	font-size:16px;
	color:black;
}
 #reg{
	 float:left;
	 margin-left:300px;
	 margin-top:60px;
	 text-decoration:none;
	 padding:15px;
	 font-size:20px;
	 border:3px solid white;
	 color:white;
	 font-family:arial, serif;
	 border-radius:10px;
 }
 #reg:hover{
	 transition:0.5s;
	 color:white;
	 background-color: #428bca;
	 border-color: #428bca;
 }
 #content-text{
	font-size: 18px;
    color: #b1b1b1; 
	margin: 40px auto 40px auto;
	max-width: 760px;
 }
 #box{
	width:100%;
	min-height:200px;
	color:#717171;
	margin-bottom:40px;
 }
 .box:hover{
	 background-color:#418BCA;
	 color:white;
 }
 .box{
	 vertical-align:top;
	display:inline-block;
	padding:20px;
	border-radius:5px;
	width:20%;
 }
 .head-text{
	 display:inline-block;
	 width:auto;
	 margin-bottom:10px;
 }
 .texts{
	 text-align:center;
	 float:none;
	 width:auto;
 }
.kartinki{
	width:100%;
	height:auto;
}
#kk{
	width:44%;
	height:auto;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:40px;
}
footer{
	width:100%;
	height:60px;
	float:left;
	background-color:#404040;
	margin:0px;
}
#box-links{
	width:100%;
	background-color:#404040;
	height:60px;
}
#sp{
	width:40px;
	height:40px;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:5px;
}
@media(max-width: 1019px) and (min-width: 800px){
#wrapper{
	width:100%;
	margin: auto;
}
header{
	height:60px;
}
#logo{
	margin-left:30px;
	width:150px;
	height:auto;
	vertical-align: middle;
}
.logo{
	float:left;
	line-height:60px;
	width:30%;
}
.menu{
	float:right;
	display:inline-block;
}

ul{
	margin-top:0px;
	float:left;
}
ul a{
	margin-top:0px;
	float:float;
	list-style:none;
}
ul a li{
	padding-left:15px;
	padding-right:15px;
	line-height:47px;
	border-bottom: 3px solid white;
}
ul a li:hover{
	box-shadow: 0 3px 0 #5597d0;
}
content{
	margin-top:60px;
}
 #slide1{
	 width:400px;
 }
 #sl1{
	 vertical-align:middle;
	 margin-right:16%;
	 margin-left:-2%;
 }
  #qwe{
	width:50%;
 }
 #reg{
	 margin-left:60%;
	 margin-top:10px;
 }
 #content-text{
	width: 80%;
 }
 #box{
	width:90%;
 }
 .box{
	width:40%;
 }
.kartinki{
	width:90%;
}
#box-links{
	width:240px;
}
}

@media(max-width: 799px) and (min-width: 710px){
#wrapper{
	width:100%;
}
header{
	height:60px;
}
#logo{
	width:150px;
	height:auto;
	vertical-align: middle;
}
.logo{
	float:left;
	line-height:60px;
	width:30%;
}
.menu{
	float:right;
	display:inline-block;
}

ul{
	margin-top:0px;
	float:left;
}
ul a{
	margin-top:0px;
	float:float;
	list-style:none;
}
ul a li{
	padding-left:10px;
	padding-right:10px;
	line-height:47px;
	border-bottom: 3px solid white;
}
ul a li:hover{
	box-shadow: 0 3px 0 #5597d0;
}
content{
	margin-top:60px;
}
#sl{
	padding-bottom:20px;
}
 #slide1{
	 width:300px;
 }
 #sl1{
	 vertical-align:middle;
	 margin-left:-2%;
	 margin-top:30px;
 }
 #qwe{
	margin-top:30px;
	width:46%;
	text-align:left;
	color:white;
	font-family:none,serif;
	font-size:24px;
	margin-right:4%;
 }
 #qwee{
	font-family:none,serif;
	font-size:30px;
	margin:0px;
}
#qweee{
	float:left;
	font-family:arial,serif;
	font-size:12px;
	color:black;
}
 #reg{
	 margin-left:30%;
	 margin-top:10px;
	 padding:5px;
 }
 #content-text{
	width: 80%;
 }
 #box{
	width:90%;
 }
 .box{
	width:40%;
 }
 .head-text{
	 font-size:16px;
 }
 .texts{
	 font-size:12px;
 }
.kartinki{
	width:90%;
}
#box-links{
	width:240px;
}
#kk{
	width:88%;
	margin-left:5%;
	margin-right:5%;
}
}

@media(max-width: 709px){
#wrapper{
	width:100%;
}
header{
	position:absolute;
	min-height:270px;
}
#logo{
	width:100px;
	height:auto;
	margin-left:0px;
}
.logo{
	width:100px;
	float:none;
	margin:0px auto;
}
.menu{
	display:block;
	min-height:60px;
}
ul{
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	float:none;
}
ul a{
	margin-top:0px;
	float:none;
	list-style:none;
}
ul a li{
	padding:0px;
	margin-top:-1px;
	float:none;
	line-height:47px;
	text-align:center;
	border-top:1px solid grey;
	border-bottom: 1px solid grey;
}
ul a li:hover{
	box-shadow:none;
}

content{
	display:inline-block;
	float:left;
	position:relative;
	height:auto;
	margin-top:270px;
	width:100%;
}
#sl{
	padding-bottom:20px;
	width:100%;
	float:left;
}
 #slide1{
	 width:100%;
	 float:left;
	 margin:0px auto;
 }
 #sl1{
	 vertical-align:middle;
	 float:left;
	 margin-top:30px;
	 width:50%;
	 margin-left:25%;
	  margin-right:25%;
 }
 #mal{
	 margin-left:10%;
	 margin-right:10%;
	 width:80%;
	 height:auto;
 }
 #qwe{
	 width:100%;
	margin-top:30px;
	float:left;
	text-align:center;
	color:white;
	font-family:none,serif;
	font-size:22px;
 }
 #qwee{
	font-family:none,serif;
	font-size:30px;
	margin:0px;
	width:20%;
	text-align:center;
}
#qweee{
	width:auto;
	float:none;
	font-family:arial,serif;
	font-size:12px;
	color:black;
}
 #reg{
	 margin-left:37%;
	 margin-top:10px;
	 padding:5px;
 }
 #content-text{
	width: 80%;
 }
 #box{
	width:90%;
 }
 .box{
	width:90%;
 }
 .head-text{
	 font-size:18px;
 }
 .texts{
	 font-size:14px;
 }
.kartinki{
	width:90%;
}
#box-links{
	width:240px;
}
#kk{
	width:88%;
	margin-left:5%;
	margin-right:5%;
}
footer{
	display:inline-block;
	float:left;
	position:relative;
}
}
